<div class="jumbotron">
  <div>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <ul >
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Password
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Email
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Notifications
            </a>
          </li>
        </ul>
    </nav>
  </div>
</div>
