<div class="container col-8">
    <div class="album py-5 " *ngIf="!authenticated"></div>
    <div class="alert alert-danger" role="alert" *ngIf="!authenticated">

        Not logged in user has no rights to add a ticket. Please <a [routerLink]="['/login']" >login</a>.
      </div>
  <form class="form-horizontal col-md-offset " [formGroup]="addTicketForm" (ngSubmit)="onSubmit()" *ngIf="authenticated">
  <fieldset>
      <!-- Form Name -->
      <legend>Добавление билета</legend>
      <!-- Text input-->
      <div class="form-group">
          <div class="form-input-text">
              <label>Название мероприятия: </label>
              <input type="text" formControlName="name" class="form-control">
            </div>
      </div>

      <div class="form-group" input type="text">
          <label class=" control-label" for="selectbasic">Free ticket?</label>
          <div input type="text">
            <select id="selectbasic" name="selectbasic" formControlName="free" class="form-control">
              <option value="true" input type="text">Free</option>
              <option value="false" input type="text">Cash</option>
            </select>
          </div>
        </div>


      <div class="form-group" input type="text">
          <label class=" control-label" for="selectbasic">Выберете тип мероприятия</label>
          <div input type="text">
            <select id="selectbasic" name="selectbasic" formControlName="typeEvent" class="form-control">
              <option value="0" input type="text">Unknown</option>
              <option value="1" input type="text">Movie</option>
              <option value="2" input type="text">Concerts</option>
              <option value="4" input type="text">Theater</option>
              <option value="8" input type="text">Ballet</option>
              <option value="16" input type="text">Sport</option>
              <option value="32" input type="text">Parties</option>
              <option value="64" input type="text">Trainings</option>
              <option value="128" input type="text">Exhibitions</option>
              <option value="256" input type="text">Circus</option>
            </select>
          </div>
        </div>
      <div formGroupName="locationEvent"> <legend>Где проходит:
      </legend>
      <div class="form-row">
          <div class="form-input-text form-group col-md-4">
              <label> Страна: </label>
              <input type="text" formControlName="country" class="form-control">
            </div>
            <div class="form-input-text form-group col-md-3">
                <label>Город: </label>
                <input type="text" formControlName="city" class="form-control">
              </div>
          <div class="form-input-text form-group col-md-4">
              <label>Улица: </label>
              <input type="text" formControlName="street" class="form-control">
            </div>
          <div class="form-input-text form-group col-md-1">
              <label>Дом: </label>
              <input type="number" formControlName="house" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-input-text">
              <label>Ссылка на мероприятие: </label>
              <input type="text" formControlName="eventLink" class="form-control">
            </div>
      </div>

          <div formGroupName="sellerAdress"> <legend>Адресс продавца:
          </legend>
          <div class="form-row">
              <div class="form-input-text form-group col-md-4">
                  <label> Страна: </label>
                  <input type="text" formControlName="country" class="form-control">
                </div>
                <div class="form-input-text form-group col-md-3">
                    <label>Город: </label>
                    <input type="text" formControlName="city" class="form-control">
                  </div>
              <div class="form-input-text form-group col-md-4">
                  <label>Улица: </label>
                  <input type="text" formControlName="street" class="form-control">
                </div>
              <div class="form-input-text form-group col-md-1">
                  <label>Дом: </label>
                  <input type="number" formControlName="house" class="form-control">
                </div>
              </div>
            </div>
              <div class="form-group">
                <div class="form-input-text">
                    <label>Телефон продавца: </label>
                    <input type="text" formControlName="sellerPhone" class="form-control">
                  </div>
            </div>




      <div class="form-group">
          <label class=" control-label">Дополнительная информация</label>
        <textarea class="form-control"  rows="2" input type="text" formControlName="additionalData"></textarea>
      </div>

     <!-- Button trigger modal -->
<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Добавить Билет
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       готово:) Нажмите Ок
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" role="button" href='/tickets/1'  >Ok</a>
      </div>
    </div>
  </div>
</div>
    </fieldset>
  </form>
</div>
