<div class="container">
  <form class="form-horizontal" [formGroup]="addTicketForm" (ngSubmit)="onSubmit()">
  <fieldset>
      <!-- Form Name -->
      <legend>Добавление билета</legend>
      <!-- Text input-->
      <div> Название мероприятия: <input formControlName="name" type="text">
      </div>

      <div> Free: <input formControlName="free" type="checkbox">
      </div>

      <div formGroupName="locationEvent"> <legend>Где проходит:
      </legend>

        <div> Страна: <input formControlName="country" type="text">
        </div>
        <div> Город: <input formControlName="city" type="text">
        </div>
        <div> Улица: <input formControlName="street" type="text">
        </div>
        <div> Дом: <input formControlName="house" type="number">
        </div>
      </div>

      <div> Ljg bbyaf: <input type="text" formControlName="additionalData" >
      </div>

       <!-- Button -->
      <div class="">
        <label class="col-md-4 control-label" for="singlebutton" ></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-info">
            Добавить билет
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
