<div class="album py-5 bg-light"></div>
    <div class="container">
      <div class="row">
<div class="col-md-4">
  <h2>{{tickets.name}}</h2>
  <p>{{tickets.additionalData}}</p>
  <p>{{tickets.createdDate}}</p>
  <p>'User contact->'{{tickets.sellerPhone}}</p>
  <p><a class="btn btn-secondary" role="button" (click)="backClicked()"> Назад </a></p><p><a class="btn btn-secondary" role="button"> Изменить </a></p>
  <p><a class="btn btn-secondary"  role="button" (click) ="deleteTicketById(tickets.id)" href="#"> Удалить Билет </a></p>
</div>
</div>
</div>

