<main role="main">
    <div class="container">
        <br/>
        <br/>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" [routerLink]="['/admin']" routerLinkActive="active">Админка</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav mr-auto">
                    <select class="block-dropdown">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>  
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                      </select>  
                    <li class="nav-item ">
                        <a class="nav-link">Пользователи
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Статистика</a>
                    </li>
                </ul>
            </div>
        </nav>
 
        <router-outlet></router-outlet>
    </div>
</main>