<div class="container">
  <form class="form-horizontal" [formGroup]="userSettingsProfile">
  <fieldset>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput1">Имя</label>
      <div class="col-md-4">
        <input
          formControlName="first"
          type="text"
          placeholder=""
          class="form-control input-md"
          name="firstname"
          id="textinput1"
          value={{user.firstName}}
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput3">Фамилия</label>
      <br />
      <div class="col-md-4">
        <input
          formControlName="last"
          type="text"
          placeholder=""
          class="form-control input-md"
          id="textinput3"
          value={{user.lastName}}
        />
      </div>
    </div>

    <div  class="col-md-4">
      <button class="btn btn-primary" (click)="onPut()" type="submit">Сохранить</button>
    </div>
</fieldset>
  </form>
</div>
