<div class="container">
  <form class="form-horizontal" [formGroup]="userSettingsProfile" (ngSubmit)="onSubmit()">
  <fieldset>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput1">Имя</label>
      <div class="col-md-4">
        <input
          formControlName="first"
          type="text"
          placeholder=""
          class="form-control input-md"
          id="textinput1"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput2">Отчество</label>
      <div class="col-md-4">
        <input
          formControlName="middle"
          type="text"
          placeholder=""
          class="form-control input-md"
          id="textinput2"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput3">Фамилия</label>
      <br />
      <div class="col-md-4">
        <input
          formControlName="last"
          type="text"
          placeholder=""
          class="form-control input-md"
          id="textinput3"
        />
      </div>
    </div>

    <div  class="col-md-4">
      <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
</fieldset>
  </form>
</div>
