<main>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Добро пожаловать на панель администратора!</h1>
      <p>Здесь вы можете просмотреть имеющиеся логи, информацию о пользователях, статистику.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Логи</h2>
        <p>Просмотр имеющихся логов.
          </p>
          <select class="btn btn-secondary">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>  
      </div>
      <div class="col-md-4">
        <h2>Пользователи</h2>
        <p>Просмотр информации о пользователях, а также ее редактирование.
          </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Статистика</h2>
        <p>Просмотр статистики.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a>
        </p>
      </div>
    </div>

    <hr>

  </div>
  <!-- /container -->
</main>