<form [formGroup]="rightsForm">
    <div class="form-row">
      <div class="col">
      </div>
      <div class="col-7">
        <label class="sr-only" for="rightName">Right Name</label>
        <input type="text" class="form-control mb-2" id="rightName" formControlName="rightName" placeholder="Right Name">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2" (click)="onSearchRights()">Search</button>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        <strong>{{ errorMessage }}</strong>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of rights">{{ item.name }}</li>
        </ul>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

