
<form class="form-horizontal">
  <fieldset>

    <!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Switch to Search Users?</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-info">Switch</button>
  </div>
</div>

  <!-- Form Name -->
  <legend>Search Tickets</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Name</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter Ticket Name" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Category</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter Ticket Category" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">City</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter City" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Date From</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter Start Date" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Date To</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter Finish Date" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Mix Price</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter Mix Price" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Max Price</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="Enter Max Price" class="form-control input-md">

    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-info">Search</button>
    </div>
  </div>

  </fieldset>
  </form>
